data/*
!data/raw/
!data/interim/
!data/processed/
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
.venv/
__pycache__/
*.pyc
*.egg-info/
.ipynb_checkpoints/
.DS_Store
entrega/base_vectorial/
corpus/
